In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Dataset.csv")

In [3]:
df.head()

                                    Sequence Class
0  CUUUGAGCCUAAUCCUGAGGCAUCUCCUGAACCAGAGGAAU   pos
1  GAUGCCAUAGGAUAUUUUCUCUGUGUGUCUUCAGCUAUUUC   pos
2  CAUAUUUUUUACAAAGAAGGCCAAGACCUAAGUUUCACAAG   pos
3  UAACUCGAUCAACCCAAGCUCGACGCGCAGCUACCACGCAC   pos
4  ACAUCGUGCCAGCAGAAUCACCAACUGUUUAAGUGUCCUCA   pos

In [4]:
df.shape

(1324, 2)

In [5]:
df['Class'].value_counts()

neg    662
pos    662
Name: Class, dtype: int64

In [6]:
len(df.iloc[1,0])

41

In [7]:
single_neucliotides = ['A', 'C', 'G', 'U']

for s_neucliotide in single_neucliotides:
    for i in range(41):
        feature_name = 'Index' + str(i) + '_' + s_neucliotide
        values = []
        for j in range(df.shape[0]):
            sequence = df.iloc[j,0]
            if sequence[i] == s_neucliotide:
                values.append(1)
            else:
                values.append(0)
        df[feature_name] = values

In [8]:
df.head()

,Sequence,Class,Index0_A,Index1_A,Index2_A,Index3_A,Index4_A,Index5_A,Index6_A,Index7_A,...,Index31_U,Index32_U,Index33_U,Index34_U,Index35_U,Index36_U,Index37_U,Index38_U,Index39_U,Index40_U
0,CUUUGAGCCUAAUCCUGAGGCAUCUCCUGAACCAGAGGAAU,pos,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
1,GAUGCCAUAGGAUAUUUUCUCUGUGUGUCUUCAGCUAUUUC,pos,0,1,0,0,0,0,1,0,...,0,0,0,0,1,0,1,1,1,0
2,CAUAUUUUUUACAAAGAAGGCCAAGACCUAAGUUUCACAAG,pos,0,1,0,1,0,0,0,0,...,0,1,1,1,0,0,0,0,0,0
3,UAACUCGAUCAACCCAAGCUCGACGCGCAGCUACCACGCAC,pos,0,1,1,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
4,ACAUCGUGCCAGCAGAAUCACCAACUGUUUAAGUGUCCUCA,pos,1,0,1,0,0,0,0,0,...,0,0,1,0,1,0,0,1,0,0

In [9]:
di_neucliotides = ["AA", "AC", "AG", "AU", "CA", "CC", "CG", "CU", "GA", "GC", "GG", "GU", "UA", "UC", "UG", "UU"]

for di_neucliotide in di_neucliotides:
    for i in range(41-1):
        feature_name = 'Index' + str(i) + "," + str(i+1) + '_' + di_neucliotide
        values = []
        neucliotides = list(di_neucliotide)
        for j in range(df.shape[0]):
            sequence = df.iloc[j,0]
            if sequence[i] == neucliotides[0] and sequence[i+1] == neucliotides[1]:
                values.append(1)
            else:
                values.append(0)
        df[feature_name] = values

In [10]:
df.head()

,Sequence,Class,Index0_A,Index1_A,Index2_A,Index3_A,Index4_A,Index5_A,Index6_A,Index7_A,...,"Index30,31_UU","Index31,32_UU","Index32,33_UU","Index33,34_UU","Index34,35_UU","Index35,36_UU","Index36,37_UU","Index37,38_UU","Index38,39_UU","Index39,40_UU"
0,CUUUGAGCCUAAUCCUGAGGCAUCUCCUGAACCAGAGGAAU,pos,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,GAUGCCAUAGGAUAUUUUCUCUGUGUGUCUUCAGCUAUUUC,pos,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,1,0
2,CAUAUUUUUUACAAAGAAGGCCAAGACCUAAGUUUCACAAG,pos,0,1,0,1,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0
3,UAACUCGAUCAACCCAAGCUCGACGCGCAGCUACCACGCAC,pos,0,1,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,ACAUCGUGCCAGCAGAAUCACCAACUGUUUAAGUGUCCUCA,pos,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
tri_neucliotides = ["AAA", "AAC", "AAG", "AAU", "ACA", "ACC", "ACG", "ACU", "AGA", "AGC", "AGG", "AGU", "AUA", "AUC", "AUG", "AUU", "CAA", 
    "CAC", "CAG", "CAU", "CCA", "CCC", "CCG", "CCU", "CGA", "CGC","CGG", "CGU", "CUA", "CUC", "CUG", "CUU", "GAA", "GAC", "GAG",
    "GAU", "GCA", "GCC", "GCG", "GCU", "GGA", "GGC", "GGG", "GGU", "GUA", "GUC", "GUG", "GUU", "UAA", "UAC", "UAG", "UAU",
    "UCA", "UCC", "UCG", "UCU", "UGA", "UGC", "UGG", "UGU", "UUA", "UUC", "UUG", "UUU"]

for tri_neucliotide in tri_neucliotides:
    for i in range(41-2):
        feature_name = 'Index' + str(i) + "," + str(i+1) + "," + str(i+2) + '_' + tri_neucliotide
        values = []
        neucliotides = list(tri_neucliotide)
        for j in range(df.shape[0]):
            sequence = df.iloc[j,0]
            if sequence[i] == neucliotides[0] and sequence[i+1] == neucliotides[1] and sequence[i+2] == neucliotides[2]:
                values.append(1)
            else:
                values.append(0)
        df[feature_name] = values

In [12]:
df.head()

,Sequence,Class,Index0_A,Index1_A,Index2_A,Index3_A,Index4_A,Index5_A,Index6_A,Index7_A,...,"Index29,30,31_UUU","Index30,31,32_UUU","Index31,32,33_UUU","Index32,33,34_UUU","Index33,34,35_UUU","Index34,35,36_UUU","Index35,36,37_UUU","Index36,37,38_UUU","Index37,38,39_UUU","Index38,39,40_UUU"
0,CUUUGAGCCUAAUCCUGAGGCAUCUCCUGAACCAGAGGAAU,pos,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,GAUGCCAUAGGAUAUUUUCUCUGUGUGUCUUCAGCUAUUUC,pos,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
2,CAUAUUUUUUACAAAGAAGGCCAAGACCUAAGUUUCACAAG,pos,0,1,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,UAACUCGAUCAACCCAAGCUCGACGCGCAGCUACCACGCAC,pos,0,1,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,ACAUCGUGCCAGCAGAAUCACCAACUGUUUAAGUGUCCUCA,pos,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
tri_neucliotides = ["AAA", "AAC", "AAG", "AAU", "ACA", "ACC", "ACG", "ACU", "AGA", "AGC", "AGG", "AGU", "AUA", "AUC", "AUG", "AUU", "CAA", 
    "CAC", "CAG", "CAU", "CCA", "CCC", "CCG", "CCU", "CGA", "CGC","CGG", "CGU", "CUA", "CUC", "CUG", "CUU", "GAA", "GAC", "GAG",
    "GAU", "GCA", "GCC", "GCG", "GCU", "GGA", "GGC", "GGG", "GGU", "GUA", "GUC", "GUG", "GUU", "UAA", "UAC", "UAG", "UAU",
    "UCA", "UCC", "UCG", "UCU", "UGA", "UGC", "UGG", "UGU", "UUA", "UUC", "UUG", "UUU"]

for tri_neucliotide in tri_neucliotides:
    for i in range(41-3):
        feature_name = 'Index' + str(i) + "," + str(i+1) + "," + str(i+2) + "," + str(i+3) + '_' + tri_neucliotide[0] + '-' + tri_neucliotide[1:]
        values = []
        neucliotides = list(tri_neucliotide)
        for j in range(df.shape[0]):
            sequence = df.iloc[j,0]
            if sequence[i] == neucliotides[0] and sequence[i+2] == neucliotides[1] and sequence[i+3] == neucliotides[2]:
                values.append(1)
            else:
                values.append(0)
        df[feature_name] = values

In [14]:
df.head()

,Sequence,Class,Index0_A,Index1_A,Index2_A,Index3_A,Index4_A,Index5_A,Index6_A,Index7_A,...,"Index28,29,30,31_U-UU","Index29,30,31,32_U-UU","Index30,31,32,33_U-UU","Index31,32,33,34_U-UU","Index32,33,34,35_U-UU","Index33,34,35,36_U-UU","Index34,35,36,37_U-UU","Index35,36,37,38_U-UU","Index36,37,38,39_U-UU","Index37,38,39,40_U-UU"
0,CUUUGAGCCUAAUCCUGAGGCAUCUCCUGAACCAGAGGAAU,pos,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,GAUGCCAUAGGAUAUUUUCUCUGUGUGUCUUCAGCUAUUUC,pos,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
2,CAUAUUUUUUACAAAGAAGGCCAAGACCUAAGUUUCACAAG,pos,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,UAACUCGAUCAACCCAAGCUCGACGCGCAGCUACCACGCAC,pos,0,1,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,ACAUCGUGCCAGCAGAAUCACCAACUGUUUAAGUGUCCUCA,pos,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
tri_neucliotides = ["AAA", "AAC", "AAG", "AAU", "ACA", "ACC", "ACG", "ACU", "AGA", "AGC", "AGG", "AGU", "AUA", "AUC", "AUG", "AUU", "CAA", 
    "CAC", "CAG", "CAU", "CCA", "CCC", "CCG", "CCU", "CGA", "CGC","CGG", "CGU", "CUA", "CUC", "CUG", "CUU", "GAA", "GAC", "GAG",
    "GAU", "GCA", "GCC", "GCG", "GCU", "GGA", "GGC", "GGG", "GGU", "GUA", "GUC", "GUG", "GUU", "UAA", "UAC", "UAG", "UAU",
    "UCA", "UCC", "UCG", "UCU", "UGA", "UGC", "UGG", "UGU", "UUA", "UUC", "UUG", "UUU"]

for tri_neucliotide in tri_neucliotides:
    for i in range(41-4):
        feature_name = 'Index' + str(i) + "," + str(i+1) + "," + str(i+2) + "," + str(i+3) + "," + str(i+4) + '_' + tri_neucliotide[0] + '--' + tri_neucliotide[1:]
        values = []
        neucliotides = list(tri_neucliotide)
        for j in range(df.shape[0]):
            sequence = df.iloc[j,0]
            if sequence[i] == neucliotides[0] and sequence[i+3] == neucliotides[1] and sequence[i+4] == neucliotides[2]:
                values.append(1)
            else:
                values.append(0)
        df[feature_name] = values

In [16]:
df.head()

,Sequence,Class,Index0_A,Index1_A,Index2_A,Index3_A,Index4_A,Index5_A,Index6_A,Index7_A,...,"Index27,28,29,30,31_U--UU","Index28,29,30,31,32_U--UU","Index29,30,31,32,33_U--UU","Index30,31,32,33,34_U--UU","Index31,32,33,34,35_U--UU","Index32,33,34,35,36_U--UU","Index33,34,35,36,37_U--UU","Index34,35,36,37,38_U--UU","Index35,36,37,38,39_U--UU","Index36,37,38,39,40_U--UU"
0,CUUUGAGCCUAAUCCUGAGGCAUCUCCUGAACCAGAGGAAU,pos,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,GAUGCCAUAGGAUAUUUUCUCUGUGUGUCUUCAGCUAUUUC,pos,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
2,CAUAUUUUUUACAAAGAAGGCCAAGACCUAAGUUUCACAAG,pos,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,UAACUCGAUCAACCCAAGCUCGACGCGCAGCUACCACGCAC,pos,0,1,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,ACAUCGUGCCAGCAGAAUCACCAACUGUUUAAGUGUCCUCA,pos,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
tri_neucliotides = ["AAA", "AAC", "AAG", "AAU", "ACA", "ACC", "ACG", "ACU", "AGA", "AGC", "AGG", "AGU", "AUA", "AUC", "AUG", "AUU", "CAA", 
    "CAC", "CAG", "CAU", "CCA", "CCC", "CCG", "CCU", "CGA", "CGC","CGG", "CGU", "CUA", "CUC", "CUG", "CUU", "GAA", "GAC", "GAG",
    "GAU", "GCA", "GCC", "GCG", "GCU", "GGA", "GGC", "GGG", "GGU", "GUA", "GUC", "GUG", "GUU", "UAA", "UAC", "UAG", "UAU",
    "UCA", "UCC", "UCG", "UCU", "UGA", "UGC", "UGG", "UGU", "UUA", "UUC", "UUG", "UUU"]

for tri_neucliotide in tri_neucliotides:
    for i in range(41-5):
        feature_name = 'Index' + str(i) + "," + str(i+1) + "," + str(i+2) + "," + str(i+3) + "," + str(i+4) + "," + str(i+5) + '_' + tri_neucliotide[0] + '---' + tri_neucliotide[1:]
        values = []
        neucliotides = list(tri_neucliotide)
        for j in range(df.shape[0]):
            sequence = df.iloc[j,0]
            if sequence[i] == neucliotides[0] and sequence[i+4] == neucliotides[1] and sequence[i+5] == neucliotides[2]:
                values.append(1)
            else:
                values.append(0)
        df[feature_name] = values

In [18]:
df.head()

,Sequence,Class,Index0_A,Index1_A,Index2_A,Index3_A,Index4_A,Index5_A,Index6_A,Index7_A,...,"Index26,27,28,29,30,31_U---UU","Index27,28,29,30,31,32_U---UU","Index28,29,30,31,32,33_U---UU","Index29,30,31,32,33,34_U---UU","Index30,31,32,33,34,35_U---UU","Index31,32,33,34,35,36_U---UU","Index32,33,34,35,36,37_U---UU","Index33,34,35,36,37,38_U---UU","Index34,35,36,37,38,39_U---UU","Index35,36,37,38,39,40_U---UU"
0,CUUUGAGCCUAAUCCUGAGGCAUCUCCUGAACCAGAGGAAU,pos,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,GAUGCCAUAGGAUAUUUUCUCUGUGUGUCUUCAGCUAUUUC,pos,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,CAUAUUUUUUACAAAGAAGGCCAAGACCUAAGUUUCACAAG,pos,0,1,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,UAACUCGAUCAACCCAAGCUCGACGCGCAGCUACCACGCAC,pos,0,1,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,ACAUCGUGCCAGCAGAAUCACCAACUGUUUAAGUGUCCUCA,pos,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
tri_neucliotides = ["AAA", "AAC", "AAG", "AAU", "ACA", "ACC", "ACG", "ACU", "AGA", "AGC", "AGG", "AGU", "AUA", "AUC", "AUG", "AUU", "CAA", 
    "CAC", "CAG", "CAU", "CCA", "CCC", "CCG", "CCU", "CGA", "CGC","CGG", "CGU", "CUA", "CUC", "CUG", "CUU", "GAA", "GAC", "GAG",
    "GAU", "GCA", "GCC", "GCG", "GCU", "GGA", "GGC", "GGG", "GGU", "GUA", "GUC", "GUG", "GUU", "UAA", "UAC", "UAG", "UAU",
    "UCA", "UCC", "UCG", "UCU", "UGA", "UGC", "UGG", "UGU", "UUA", "UUC", "UUG", "UUU"]

for tri_neucliotide in tri_neucliotides:
    for i in range(41-3):
        feature_name = 'Index' + str(i) + "," + str(i+1) + "," + str(i+2) + "," + str(i+3) + '_' + tri_neucliotide[:2] + '-' + tri_neucliotide[2]
        values = []
        neucliotides = list(tri_neucliotide)
        for j in range(df.shape[0]):
            sequence = df.iloc[j,0]
            if sequence[i] == neucliotides[0] and sequence[i+1] == neucliotides[1] and sequence[i+3] == neucliotides[2]:
                values.append(1)
            else:
                values.append(0)
        df[feature_name] = values

In [20]:
df.head()

,Sequence,Class,Index0_A,Index1_A,Index2_A,Index3_A,Index4_A,Index5_A,Index6_A,Index7_A,...,"Index28,29,30,31_UU-U","Index29,30,31,32_UU-U","Index30,31,32,33_UU-U","Index31,32,33,34_UU-U","Index32,33,34,35_UU-U","Index33,34,35,36_UU-U","Index34,35,36,37_UU-U","Index35,36,37,38_UU-U","Index36,37,38,39_UU-U","Index37,38,39,40_UU-U"
0,CUUUGAGCCUAAUCCUGAGGCAUCUCCUGAACCAGAGGAAU,pos,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,GAUGCCAUAGGAUAUUUUCUCUGUGUGUCUUCAGCUAUUUC,pos,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,CAUAUUUUUUACAAAGAAGGCCAAGACCUAAGUUUCACAAG,pos,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,UAACUCGAUCAACCCAAGCUCGACGCGCAGCUACCACGCAC,pos,0,1,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,ACAUCGUGCCAGCAGAAUCACCAACUGUUUAAGUGUCCUCA,pos,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
tri_neucliotides = ["AAA", "AAC", "AAG", "AAU", "ACA", "ACC", "ACG", "ACU", "AGA", "AGC", "AGG", "AGU", "AUA", "AUC", "AUG", "AUU", "CAA", 
    "CAC", "CAG", "CAU", "CCA", "CCC", "CCG", "CCU", "CGA", "CGC","CGG", "CGU", "CUA", "CUC", "CUG", "CUU", "GAA", "GAC", "GAG",
    "GAU", "GCA", "GCC", "GCG", "GCU", "GGA", "GGC", "GGG", "GGU", "GUA", "GUC", "GUG", "GUU", "UAA", "UAC", "UAG", "UAU",
    "UCA", "UCC", "UCG", "UCU", "UGA", "UGC", "UGG", "UGU", "UUA", "UUC", "UUG", "UUU"]

for tri_neucliotide in tri_neucliotides:
    for i in range(41-4):
        feature_name = 'Index' + str(i) + "," + str(i+1) + "," + str(i+2) + "," + str(i+3) + "," + str(i+4) + '_' + tri_neucliotide[:2] + '--' + tri_neucliotide[2]
        values = []
        neucliotides = list(tri_neucliotide)
        for j in range(df.shape[0]):
            sequence = df.iloc[j,0]
            if sequence[i] == neucliotides[0] and sequence[i+1] == neucliotides[1] and sequence[i+4] == neucliotides[2]:
                values.append(1)
            else:
                values.append(0)
        df[feature_name] = values

In [22]:
df.head()

,Sequence,Class,Index0_A,Index1_A,Index2_A,Index3_A,Index4_A,Index5_A,Index6_A,Index7_A,...,"Index27,28,29,30_UU--U","Index28,29,30,31_UU--U","Index29,30,31,32_UU--U","Index30,31,32,33_UU--U","Index31,32,33,34_UU--U","Index32,33,34,35_UU--U","Index33,34,35,36_UU--U","Index34,35,36,37_UU--U","Index35,36,37,38_UU--U","Index36,37,38,39_UU--U"
0,CUUUGAGCCUAAUCCUGAGGCAUCUCCUGAACCAGAGGAAU,pos,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,GAUGCCAUAGGAUAUUUUCUCUGUGUGUCUUCAGCUAUUUC,pos,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,CAUAUUUUUUACAAAGAAGGCCAAGACCUAAGUUUCACAAG,pos,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,UAACUCGAUCAACCCAAGCUCGACGCGCAGCUACCACGCAC,pos,0,1,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,ACAUCGUGCCAGCAGAAUCACCAACUGUUUAAGUGUCCUCA,pos,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
tri_neucliotides = ["AAA", "AAC", "AAG", "AAU", "ACA", "ACC", "ACG", "ACU", "AGA", "AGC", "AGG", "AGU", "AUA", "AUC", "AUG", "AUU", "CAA", 
    "CAC", "CAG", "CAU", "CCA", "CCC", "CCG", "CCU", "CGA", "CGC","CGG", "CGU", "CUA", "CUC", "CUG", "CUU", "GAA", "GAC", "GAG",
    "GAU", "GCA", "GCC", "GCG", "GCU", "GGA", "GGC", "GGG", "GGU", "GUA", "GUC", "GUG", "GUU", "UAA", "UAC", "UAG", "UAU",
    "UCA", "UCC", "UCG", "UCU", "UGA", "UGC", "UGG", "UGU", "UUA", "UUC", "UUG", "UUU"]

for tri_neucliotide in tri_neucliotides:
    for i in range(41-5):
        feature_name = 'Index' + str(i) + "," + str(i+1) + "," + str(i+2) + "," + str(i+3) + "," + str(i+4) + "," + str(i+5) + '_' + tri_neucliotide[:2] + '---' + tri_neucliotide[2]
        values = []
        neucliotides = list(tri_neucliotide)
        for j in range(df.shape[0]):
            sequence = df.iloc[j,0]
            if sequence[i] == neucliotides[0] and sequence[i+1] == neucliotides[1] and sequence[i+5] == neucliotides[2]:
                values.append(1)
            else:
                values.append(0)
        df[feature_name] = values

In [24]:
df.head()

,Sequence,Class,Index0_A,Index1_A,Index2_A,Index3_A,Index4_A,Index5_A,Index6_A,Index7_A,...,"Index26,27,28,29_UU---U","Index27,28,29,30_UU---U","Index28,29,30,31_UU---U","Index29,30,31,32_UU---U","Index30,31,32,33_UU---U","Index31,32,33,34_UU---U","Index32,33,34,35_UU---U","Index33,34,35,36_UU---U","Index34,35,36,37_UU---U","Index35,36,37,38_UU---U"
0,CUUUGAGCCUAAUCCUGAGGCAUCUCCUGAACCAGAGGAAU,pos,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,GAUGCCAUAGGAUAUUUUCUCUGUGUGUCUUCAGCUAUUUC,pos,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,CAUAUUUUUUACAAAGAAGGCCAAGACCUAAGUUUCACAAG,pos,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,UAACUCGAUCAACCCAAGCUCGACGCGCAGCUACCACGCAC,pos,0,1,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,ACAUCGUGCCAGCAGAAUCACCAACUGUUUAAGUGUCCUCA,pos,1,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [25]:
tri_neucliotides = ["AAA", "AAC", "AAG", "AAU", "ACA", "ACC", "ACG", "ACU", "AGA", "AGC", "AGG", "AGU", "AUA", "AUC", "AUG", "AUU", "CAA", 
    "CAC", "CAG", "CAU", "CCA", "CCC", "CCG", "CCU", "CGA", "CGC","CGG", "CGU", "CUA", "CUC", "CUG", "CUU", "GAA", "GAC", "GAG",
    "GAU", "GCA", "GCC", "GCG", "GCU", "GGA", "GGC", "GGG", "GGU", "GUA", "GUC", "GUG", "GUU", "UAA", "UAC", "UAG", "UAU",
    "UCA", "UCC", "UCG", "UCU", "UGA", "UGC", "UGG", "UGU", "UUA", "UUC", "UUG", "UUU"]

for tri_neucliotide in tri_neucliotides:
    for i in range(41-4):
        feature_name = 'Index' + str(i) + "," + str(i+1) + "," + str(i+2) + "," + str(i+3) + '_' + tri_neucliotide[0] + '-' + tri_neucliotide[1] + '-' + tri_neucliotide[2]
        values = []
        neucliotides = list(tri_neucliotide)
        for j in range(df.shape[0]):
            sequence = df.iloc[j,0]
            if sequence[i] == neucliotides[0] and sequence[i+2] == neucliotides[1] and sequence[i+4] == neucliotides[2]:
                values.append(1)
            else:
                values.append(0)
        df[feature_name] = values

In [26]:
df.head()

,Sequence,Class,Index0_A,Index1_A,Index2_A,Index3_A,Index4_A,Index5_A,Index6_A,Index7_A,...,"Index27,28,29,30_U-U-U","Index28,29,30,31_U-U-U","Index29,30,31,32_U-U-U","Index30,31,32,33_U-U-U","Index31,32,33,34_U-U-U","Index32,33,34,35_U-U-U","Index33,34,35,36_U-U-U","Index34,35,36,37_U-U-U","Index35,36,37,38_U-U-U","Index36,37,38,39_U-U-U"
0,CUUUGAGCCUAAUCCUGAGGCAUCUCCUGAACCAGAGGAAU,pos,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,GAUGCCAUAGGAUAUUUUCUCUGUGUGUCUUCAGCUAUUUC,pos,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
2,CAUAUUUUUUACAAAGAAGGCCAAGACCUAAGUUUCACAAG,pos,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,UAACUCGAUCAACCCAAGCUCGACGCGCAGCUACCACGCAC,pos,0,1,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,ACAUCGUGCCAGCAGAAUCACCAACUGUUUAAGUGUCCUCA,pos,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
feature_name = 'GC_Content'
values = []
for j in range(df.shape[0]):
    sequence = df.iloc[j,0]
    A_count = sequence.count("A")
    C_count = sequence.count("C")
    G_count = sequence.count("G")
    U_count = sequence.count("U")
    ratio = round((G_count + C_count)/(A_count + G_count + C_count + U_count),2)
    values.append(ratio)
df[feature_name] = values
df.head()

,Sequence,Class,Index0_A,Index1_A,Index2_A,Index3_A,Index4_A,Index5_A,Index6_A,Index7_A,...,"Index28,29,30,31_U-U-U","Index29,30,31,32_U-U-U","Index30,31,32,33_U-U-U","Index31,32,33,34_U-U-U","Index32,33,34,35_U-U-U","Index33,34,35,36_U-U-U","Index34,35,36,37_U-U-U","Index35,36,37,38_U-U-U","Index36,37,38,39_U-U-U",GC_Content
0,CUUUGAGCCUAAUCCUGAGGCAUCUCCUGAACCAGAGGAAU,pos,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0.49
1,GAUGCCAUAGGAUAUUUUCUCUGUGUGUCUUCAGCUAUUUC,pos,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0.39
2,CAUAUUUUUUACAAAGAAGGCCAAGACCUAAGUUUCACAAG,pos,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.34
3,UAACUCGAUCAACCCAAGCUCGACGCGCAGCUACCACGCAC,pos,0,1,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0.59
4,ACAUCGUGCCAGCAGAAUCACCAACUGUUUAAGUGUCCUCA,pos,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.46

In [28]:
new_df = df.iloc[:,1:]
new_df.head()

,Class,Index0_A,Index1_A,Index2_A,Index3_A,Index4_A,Index5_A,Index6_A,Index7_A,Index8_A,...,"Index28,29,30,31_U-U-U","Index29,30,31,32_U-U-U","Index30,31,32,33_U-U-U","Index31,32,33,34_U-U-U","Index32,33,34,35_U-U-U","Index33,34,35,36_U-U-U","Index34,35,36,37_U-U-U","Index35,36,37,38_U-U-U","Index36,37,38,39_U-U-U",GC_Content
0,pos,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0.49
1,pos,0,1,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,1,0,0.39
2,pos,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.34
3,pos,0,1,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0.59
4,pos,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.46

In [29]:
new_df.to_csv("ALL_Features_Dataset.csv",index=False)